@import "tailwindcss";

@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="number"],
  input[type="date"],
  textarea {
    font-size: 16px !important; /* iOS no hará zoom si detecta 16px */
  }

  /* Si quieres que visualmente se siga viendo pequeño (ej: 13px) */
  .ios-input-fix {
    font-size: 16px !important;
    transform: scale(0.81); /* 16px * 0.81 ≈ 13px */
    transform-origin: left center;
    width: 123%; /* Compensamos el encogimiento del scale */
  }
}

input::-webkit-date-and-time-value {
  text-align: left;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    /* 1. Quitamos el icono original invisible */
    background-image: none;
    -webkit-appearance: none;
    
    /* 2. Inyectamos nuestro icono azul (SVG) */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%233b82f6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>') no-repeat center;
    
    /* 3. Ajustamos tamaño y visibilidad */
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 1;
    display: block !important;
}