name: Auto Patch Version

on:
  push:
    branches:
      - main

jobs:
  patch-version:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'bump version') }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Subir version (Patch)
        run: npm version patch -m "chore: bump version to %s [skip ci]"

      - name: Push changes
        run: git push
